# -----------------------------
# Docker volumes e dados gerados
# -----------------------------
docker/data/
**/__pycache__/
*.pyc
*.venv/
# -----------------------------
# Jupyter notebooks
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# Arquivos temporários do sistema
# -----------------------------
*.log
*.tmp
*.swp
.DS_Store
Thumbs.db

# -----------------------------
# Se tiver senhas locais ou configs sensíveis
# -----------------------------
.env
venv
.venv
./venv
/venv
venv/