services:
  db:
    image: postgres:15
    container_name: postgres-db
    env_file:
      - ./.env 
    ports:
      - "5432:5432"
    volumes:
      - uber_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 10s
      timeout: 5s
      retries: 5

  init-db:
    build: . 
    env_file:
      - ./.env
    command: python src/etl/init_db.py
    volumes:
      - .:/home/jovyan/work
    depends_on:
      db:
        condition: service_healthy

  jupyter:
    build: .
    container_name: jupyter-notebook
    ports:
      - "8888:8888"
    volumes:
      - ./jupyter:/home/jovyan/work
    depends_on:
      - init-db 

volumes:
  uber_data: