version: "3.9"

services:
  db:
    image: postgres:15
    container_name: postgres-db
    env_file:
      - ../.env
    ports:
      - "5432:5432"
    volumes:
      - uber_data:/var/lib/postgresql/data

  jupyter:
    build: ./jupyter
    container_name: jupyter-notebook
    ports:
      - "8888:8888"
    volumes:
      - ./jupyter:/home/jovyan/work
    depends_on:
      - db

volumes:
  uber_data:
